{% extends "layout/main.html" %}
{% block content %}
<main class="layout-centered bg-gray">
  <!-- Main Content -->
  <main class="main-content text-center pb-lg-5">
    <div class="container">

      <h3 class="display-6 text-muted mb-7">Ops! Página não encontrada</h3>
      <p class="lead">Parece que você está buscando algo que não existe. :/</p>
      <br>
      <button class="btn btn-secondary w-150 mr-2" type="button" onclick="window.history.back();">Voltar</button>
      <a class="btn btn-secondary w-150" href="/">Home</a>

    </div>
  </main><!-- /.main-content -->
</main>
{% endblock %}