{% extends "layout/main.html" %}
{% import "macros/main.macros.html" as main %}

{% block content %}
<main class="main-content">
  <div class="container">
    <div class="row py-7">
      <div class="col">
        <h3 class="display-5 fw-400" style="height: 100%;display: flex;align-content: center;align-items: center;">
          {{getPageContent('home', 'header', '#welcome-to-market')}}
          <br>
          {{getPageContent('home', 'header', '#your-project')}}
        </h3>
      </div>
    </div>
    <div class="row py-4">
      <div class="col">
        <div class="card shadow-4" id="hero-home">
          <div class="card-body">
            <form class="input-round" id="search-home" action="/{{params.dictionary.lang}}/apps?title="
              method="GET">
              <div class="form-group input-group">
                <input type="text" class="form-control" name="title" placeholder="Busque aplicativos">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit" style="border-radius: 0em 5em 5em 0em;">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col">
        <h6 class="py-4">{{getPageContent('home', 'main', '.section-header')}}</h6>
        <div class="row">
          {% for application in params.data %}
          {{main.cards(params, application)}}
          {%endfor%}
        </div>
        <div class="py-4 text-center">
          <a href="/{{params.dictionary.lang}}/apps" class="fs-12 fw-600">Ver todos os aplicativos</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}