{% extends "layout/main.html" %}
{% block content %}
<main class="main-content" id="main-single" data-id="{{params.data.application.app_id}}">
  <div class="container">
    <div class="row py-4">
      <div class="col card px-6 py-6 hover-shadow-4 text-default border" >
        <div class="application__resume">
          <div class="application__resume--icon py-5 px-5">
            <img src="{{params.data.application.icon}}" class="shadow-4">
          </div>
          <ul class="application__resume--infor">
            <li><span class="font-size-18 fw-500">{{params.data.application.title}}</span></li>
            <li><span class="font-size-16 fw-400">{{params.data.application.short_description}}</span></li>
            <li><span class="font-size-14 fw-400">{{params.dictionary.word_by}} <a
              href="#">{{params.data.partner.name}}</a></span> | <span class="font-size-14 fw-400">{{params.dictionary.word_in}} <a
                href="/{{params.dictionary.lang}}/apps?category={{params.data.application.category}}"
                title="{{categories_name(params.data.application.category, params.dictionary.lang)}}">{{
                categories_name(params.data.application.category, params.dictionary.lang) }} </a></span></li>
              <li><a class="btn btn-sm btn-round btn-outline-success request-install" id="btn-install" href="#"
                data-id="{{params.data.application.app_id}}" data-type="{{params.page.type}}">Instalar Agora</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col card px-6 py-6 hover-shadow-4 text-default border" id="application-description"></div>
    </div>
    <div class="row py-4">
      <div class="col card px-6 py-6 hover-shadow-4 text-default border">
        <div class="row">
          <div class="col-sm-12 col-md-8 py-4">
            <h6>Fotos</h6>
            <div class="gallery gallery-3-type1">
              {% for imagem in params.data.imagens %}
              <a class="gallery-item" href="#">
                <img src="{{imagem.path_image}}" alt="{{imagem.alt}}" data-provide="lightbox">
              </a>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-12 col-md-4 py-4">
            <h6>{{params.dictionary.word_details}}</h6>
            <ul class="application-details-list">
              <li>
                <span>{{params.dictionary.word_categories}}</span>
                <span>{{categories_name(params.data.application.category, params.dictionary.lang) }}</span>
              </li>
              <li>
                <span>{{params.dictionary.word_version}}</span>
                <span>{{params.data.application.version}}</span>
              </li>
              <li>
                <span>{{params.dictionary.word_version_date}}</span>
                {% if params.dictionary.lang == 'pt_br' %}
                <span>{{params.data.application.version_date | date("d/m/Y")}} </span>
                {% else %}
                <span>{{params.data.application.version_date | date("m/d/Y")}} </span>
                {% endif %}
              </li>
              <li>
                <span>{{params.dictionary.word_support}}</span>
                <span><a href="{{params.data.application.website}}">Website</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}