{#
Sidebar search apps component
#}
{% macro sidebarSearch(params) %}
<h6 class="sidebar-title">{{params.dictionary.word_search}}</h6>
<div class="row py-4">
  <div class="col">
    <div class="card shadow-7" id="hero-home">
      <div class="card-body">
        <form class="input-round shadow-7" id="search-home" action="/{{params.dictionary.lang}}/apps?title="
          method="GET">
          <div class="form-group input-group">
            <input type="text" class="form-control" name="title" placeholder="Busque aplicativos">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit"
                style="border-radius: 0em 5em 5em 0em;">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
{% endmacro %}
{#
Result search component
#}
{% macro resultSearch(params) %}
{% import "macros/main.macros.html" as main %}
<div class="row">
  {% if params.data %}
  {% for application in params.data %}
  {{main.cards(params, application)}}
  {%endfor%}
  {% else %}
  <div id="notfound"><strong>sem resultado</strong></div>
  {% endif %}

</div>
{% endmacro %}