{% macro singleHeader(params) %}
<div class="container">
  <div class="row">
    <div class="col" id="app-resume" data-id="{{params.data.application.app_id}}">
      <div class="app-resume-pre">
        <div class="app-icon">
          <img src="{{params.data.application.icon}}">
        </div>
        <div class="app-short-desc">
          <div class="app-infor">
            <span class="app-infor__name">{{params.data.application.title}}</span>
            <span class="app-infor__short">{{params.data.application.short_description}}</span>
            <span class="app-infor__author">{{params.dictionary.word_by}} <a href="/{{params.dictionary.lang}}/author/{{params.data.partner.id}}">{{params.data.partner.name}}</a></span>
            <span class="app-infor_category">{{params.dictionary.word_in}} <a href="/{{params.dictionary.lang}}/apps?category={{params.data.application.category}}"
                title="{{categories_name(params.data.application.category, params.dictionary.lang)}}">{{
                categories_name(params.data.application.category, params.dictionary.lang) }} </a></span>
          </div>
          <div class="app-actions">
            <a class="btn btn-sm btn-round btn-success request-install" href="#" data-id="{{params.data.application.app_id}}">Instalar Agora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro itemResume(params) %}
{% import _self as this %}
<h2>{{params.dictionary.word_details}}</h2>
<ul>
  <li class="items-lists">
    <span>{{params.dictionary.word_categories}}</span>
    <span>{{categories_name(params.data.application.category, params.dictionary.lang) }}</span>
  </li>
  <li class="items-lists">
    <span>{{params.dictionary.word_version}}</span>
    <span>{{params.data.application.version}}</span>
  </li>
  <li class="items-lists">
    <span>{{params.dictionary.word_version_date}}</span>
    {% if params.dictionary.lang == 'pt_br' %}
    <span>{{params.data.application.version_date | date("d/m/Y")}} </span>
    {% else %}
    <span>{{params.data.application.version_date | date("m/d/Y")}} </span>
    {% endif %}
  </li>
  <li class="items-lists">
    <span>{{params.dictionary.word_support}}</span>
    <span><a href="{{params.data.application.website}}">Website</a></span>
  </li>
  <!-- 
  <li class="items-lists">
    <span>{{params.dictionary.word_installations}}</span>
    <span>{{params.data.application.downloads}}</span>
  </li>
  <li class="items-lists">
    <span>{{params.dictionary.word_evaluation}}</span>
    <div class="rating rating-xs">
      <label class="fa fa-star active"></label>
      <label class="fa fa-star active"></label>
      <label class="fa fa-star active"></label>
      <label class="fa fa-star active"></label>
      <label class="fa fa-star active"></label>
    </div>
  </li> -->
</ul>
<h2>{{params.dictionary.word_galery}}</h2>
<div class="gallery gallery-3-type1">
  {{ this.galery(params.data.imagens) }}
</div>
{% endmacro %}

{% macro galery(imagens) %}
{% for imagem in imagens %}
<a class="gallery-item" href="#">
  <img src="{{imagem.path_image}}" alt="{{imagem.alt}}" data-provide="lightbox">
</a>
{% endfor %}
{% endmacro %}

{% macro tabsList(params) %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#application-description">{{params.dictionary.word_description_single}}</a>
  </li>
  {% if params.data.application.plans_json%}
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#application-plans">{{params.dictionary.word_price}}</a>
  </li>
  {% endif %}
<!--   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#application-comments">{{params.dictionary.word_comments}}</a>
  </li> -->
</ul>
{% endmacro %}