{% macro singleHeader(params) %}
<div class="container">
  <div class="row">
    <div class="col" id="app-resume">
      <div class="app-resume-pre">
        <div class="app-icon">
          <img src="{{params.application.icon}}">
        </div>
        <div class="app-short-desc">
          <div class="app-infor">
            <span class="app-infor__name">{{params.application.title}}</span>
            <span class="app-infor__short">mixture whatever fog sense sentence son crowd replace level nearer fur
              mistake upper coach rush example do father stopped alike feature purple airplane universe</span>
            <span class="app-infor__author">por <a href="#">Talisson Ferreira</a></span>
            <span class="app-infor_category">em <a href="#">Soluções de Envio</a></span>
          </div>
          <div class="app-actions">
            <a class="btn btn-sm btn-round btn-success" href="#">Instalar Agora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


