
// Write your custom style. Feel free to split your code to several files
body {
  margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.9;
    color: #757575;
    text-align: left;
    background-color: #fff;
}

.navbar-brand img {
  width: 132px;
  height: 28px;
  margin-right: 4px;
}

.navbar-brand span {
  color: #37003c !important;
  font-size: 24px;
  font-weight: 300;
  text-transform: lowercase;
}

#search-home .form-group {
  margin-bottom: 1rem;
  margin-top:1rem;
}

/** btn */
.btn-action {
  background-color: #37003c;
  color: #fff !important;
}

.card-item {
  .card-item-body {
    display: flex;
    padding: 15px;
    .card-item-thumb {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100px;
      width: 100%;
      margin-right: 15px;
      position: relative;
      top: 5px;
      img {
        max-width: 100px;
        width: 100%;
        box-shadow: 1px 2px 14px 1px #0000000f;
        border-radius: 5px;
      }
      .card-hits{
        .downloads-count {
          text-align: center;
        }
      }
    }
    .card-item.resume {
      display: flex;
      flex-direction: column;
    }
  }
}