{% extends "layout/partner.html" %}
{% import "macros/partner.macros.html" as macros %}
{% block content %}
<main class="main-partner__content" id="partner-apps">
  <div class="container">
    <div class="row">
      <div class="col">
        <section class="partner-add-apps my-7 mx-7 ">
          <div class="add-new-app card shadow-3">
            {{macros.partnerAddApplication(params)}}
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
{{macros.appAuthScopes(params)}} 
{{macros.adminSettingsExample()}}
{% endblock %}