{% extends 'templates/layout-account.html' %}
{% block content %}
{% import 'templates/macros.html' as macro_main %}
{% import 'templates/macros-account.html' as macro_dashboad %}
{% import 'templates/macros-upload.html' as macro_dash_up %}
<!-- SIDE MENU -->
{{macro_dashboad.all_menu(dictionary,user)}}
<!-- /SIDE MENU -->
<!-- DASHBOARD BODY -->
<div class="dashboard-body">
    <!-- DASHBOARD HEADER -->
    {{macro_dashboad.dashboard_header(dictionary)}}
    <!-- DASHBOARD HEADER -->

    <!-- DASHBOARD CONTENT -->
    <div class="dashboard-content">
        <!-- HEADLINE -->
        <div class="headline simple primary">
            <h4>{{dictionary.word_upload_item}}</h4>
        </div>
        <!-- /HEADLINE -->

        <!-- FORM BOX ITEMS -->
        <div class="form-box-items full">
            <!-- FORM BOX ITEM -->
            <div class="form-box-item full">
                <h4>{{dictionary.word_specifications}}</h4>
                <hr class="line-separator">
                <form id="item_form">
                    <input type="hidden" name="partner_id" id="uid" value="{{user.id}}">
                    <div class="input-container half">
                        <input type="radio" id="item_is_app" name="item_app" checked>
                        <label for="item_is_app" class="label-check item_is">
                            <span class="checkbox primary">
                                <span></span></span>
                            {{dictionary.word_app}}
                        </label>
                    </div>
                    <div class="input-container half">
                        <input type="radio" id="item_is_theme" name="item_is_theme">
                        <label for="item_is_theme" class="label-check item_is">
                            <span class="checkbox primary">
                                <span></span></span>
                            {{dictionary.word_theme}}
                        </label>
                    </div>
                    <div id="enable-app" style="display:block;">
                        {% if loop.index > 1 %}
                        <div id="cat-app-{{i}}" style="display:none;">
                            <!-- INPUT CONTAINER -->
                            {{macro_dash_up.select_category(app_category,1,i, dictionary, "apps")}}
                            <!--button id="add_category">+ category </button-->
                            <!-- /INPUT CONTAINER -->
                        </div>
                        {% else %}
                        <div id="cat-app-{{i}}" style="display:block;">
                            <!-- INPUT CONTAINER -->
                            {{macro_dash_up.select_category(app_category,1,i, dictionary, "apps")}}
                            <!--button id="add_category">+ category </button-->
                            <!-- /INPUT CONTAINER -->
                        </div>
                        {% endif %}
                    </div>

                    <div id="enable-theme" style="display:none;">
                        {% if loop.index > 1 %}
                        <div id="cat-app-{{i}}" style="display:none;">
                            <!-- INPUT CONTAINER -->
                            {{macro_dash_up.select_category(theme_category,0,i, dictionary, "themes")}}
                            <!--button id="add_category">+ category </button-->
                            <!-- /INPUT CONTAINER -->
                        </div>
                        {% else %}
                        <div id="cat-theme-{{i}}" style="display:block;">
                            <!-- INPUT CONTAINER -->
                            {{macro_dash_up.select_category(theme_category,0,i, dictionary, "theme")}}
                            <!--button id="add_category">+ category </button-->
                            <!-- /INPUT CONTAINER -->
                        </div>
                        {% endif %}
                    </div>

                    <!-- INPUT CONTAINER -->
                    <div class="input-container"></div>
                    <!-- /INPUT CONTAINER -->

                    <!-- INPUT CONTAINER -->
                    <div class="input-container half">
                        <label id="name-required" for="title" class="rl-label required">{{dictionary.word_name_of_item}}
                            {{dictionary.word_max_char}}</label>
                        <input type="text" id="title" name="title" placeholder="Enter them item name here..." required="true">
                    </div>
                    <div class="input-container half" id="input-slug">
                        <label id="name-required" for="slug" class="rl-label required">Slug</label>
                        <input type="text" id="slug" name="slug" placeholder="Enter them item slug here..." required="true">
                        <div id="slug-sugg"></div>
                    </div>
                    <!-- /INPUT CONTAINER -->

                    <!-- INPUT CONTAINER -->
                    <div class="input-container half">
                        <label id="version-required" for="version" class="rl-label required">{{dictionary.word_num_version}}</label>
                        <input type="text" id="version" name="version" placeholder="Ex: 1.0.1" required="true">
                    </div>
                    <!-- /INPUT CONTAINER -->

                    <!-- INPUT CONTAINER -->
                    <div class="input-container half" style="float: none;">
                        <label for="version_date" class="rl-label">{{dictionary.word_date_version}}</label>
                        <!--input type="text" id="item_dateversion" name="item_dateversion" placeholder="Enter num version item here..."-->
                        <input type="date" name="version_date" id="version_date" style="width: 100%;height: 40px;padding: 0 15px;border: 1px solid #ebebeb;line-height: 40px;border-radius: 4px;" />
                    </div>
                    <!-- /INPUT CONTAINER -->

                    <!-- INPUT CONTAINER -->
                    <div class="input-container">
                        <label id="desc-required" for="description" class="rl-label required">{{dictionary.word_description_single}}</label>
                        <textarea id="description" name="description" placeholder="Enter them item description here..." required="true"></textarea>
                    </div>
                    <div id="enable-app" style="display:block;">
                        <!-- div only app -->

                        <!-- INPUT CONTAINER -->
                        <div class="input-container half" id="type_app">
                            <label for="type" class="rl-label required">{{dictionary.word_type_of_app}}</label>
                            <label for="type" class="select-block" id="type_app">
                                <select name="type" id="type" required="true">
                                    <option value="dashboard">Dashboard</option>
                                    <option value="storefront">Storefront</option>
                                    <option value="module_package">Module Package</option>
                                    <option value="external">External</option>
                                </select>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </label>
                        </div>
                        <!-- /INPUT CONTAINER -->
                        <!-- INPUT CONTAINER -->
                        <div class="input-container half" id="module-type" style="display:none;">
                            <label for="module-type" class="rl-label" id="module-type">Module</label>
                            <label for="module" class="select-block" id="module-type">
                                <select name="module" id="module">
                                    <option value="">Module</option>
                                    <option value="al">al</option>
                                    <option value="pd">pd</option>
                                    <option value="sc">sc</option>
                                    <option value="sh">sh</option>
                                    <option value="pa">pa</option>
                                    <option value="ck">ck</option>
                                    <option value="cf">cf</option>
                                    <option value="rg">rg</option>
                                    <option value="lg">lg</option>
                                    <option value="ct">ct</option>
                                    <option value="nw">nw</option>
                                </select>
                                <!-- SVG ARROW -->
                                <svg class="svg-arrow">
                                    <use xlink:href="#svg-arrow"></use>
                                </svg>
                                <!-- /SVG ARROW -->
                            </label>
                        </div>

                        <div class="input-container half" id="load_events-el" style="display:none;">
                            {{macro_dash_up.load_events()}}
                        </div>

                        <!-- INPUT CONTAINER -->
                        <div class="input-container" id="scripturl_el">
                            <label for="script_uri" class="rl-label">Script url</label>
                            <input type="text" id="script_uri" name="script_uri" placeholder="Enter script url item  here...">
                        </div>
                        <!-- /INPUT CONTAINER -->

                        <!-- INPUT CONTAINER -->
                        <div class="input-container">
                            <label for="github_repository" class="rl-label">GitHub</label>
                            <input type="text" id="github_repository" name="github_repository" placeholder="Enter GitHub item  here...">
                        </div>
                        <!-- /INPUT CONTAINER -->

                        <!-- INPUT CONTAINER -->
                        <div class="input-container"></div>
                        <!-- /INPUT CONTAINER -->

                        <!-- INPUT CONTAINER -->
                        <div class="input-container half">
                            <label class="rl-label">{{dictionary.word_authentication}}</label>
                            <div class="input-container half">
                                <input type="radio" id="yes-id" name="authentication" value="1">
                                <label for="yes-id" class="label-check-auth">
                                    <span class="checkbox primary">
                                        <span></span></span>
                                    {{dictionary.word_yes}}
                                </label>
                            </div>
                            <div class="input-container half">
                                <input type="radio" id="no-id" name="authentication" value="0" checked>
                                <label for="no-id" class="label-check-auth">
                                    <span class="checkbox primary">
                                        <span></span></span>
                                    {{dictionary.word_no}}
                                </label>
                            </div>
                            <input id="authentication" value="0" style="display:none;" />
                        </div>
                        <div class="input-container half" id="auth_callback_el" style="display: none;">
                            <label class="rl-label">Auth Callback Uri</label>
                            <div class="input-container">
                                <input type="text" id="auth_callback_uri" name="auth_callback_uri">
                            </div>
                            <a href="#form-scope" class="button mid dark promo-popup">
                                <span class="primary">Solicitar autorização.</span>
                            </a>
                        </div>
                        <!-- INPUT CONTAINER -->
                        <div class="input-container">
                            <label for="website" class="rl-label">WebSite</label>
                            <input type="text" id="website" name="website" placeholder="Enter item website here...">
                        </div>

                        <!-- div only app -->
                    </div>

                    <!-- INPUT CONTAINER -->
                    <div class="input-container"></div>
                    <!-- /INPUT CONTAINER -->

                    <div id="enable-theme" style="display:none;">
                        <!-- INPUT CONTAINER -->
                        <div class="input-container" style="padding-bottom: 22px;">
                            <label for="link_documentation" class="rl-label">{{dictionary.word_documentation}}
                            </label>
                            <input type="text" id="link_documentation" name="link_documentation" placeholder="Enter item link documentation link here...">
                        </div>
                        <!-- /INPUT CONTAINER -->
                    </div>

                    <!-- INPUT CONTAINER -->
                    <div class="input-container">
                        <label for="link_video" class="rl-label">Link Video</label>
                        <input type="text" id="link_video" name="link_video" placeholder="Enter link video item here...">
                    </div>
                    <input type="hidden" name="plans_json" id="plans_json" value="">
                    <input type="hidden" name="paid" id="paid" value="0">
                    <input type="hidden" name="value_plan_basic" id="value_plan_basic" value="0">
                    <input type="hidden" name="auth_scope" id="auth_scope" value="">
                    
                    <div id="value-license-section">
                        {{macro_dash_up.value_license_themes(dictionary)}}
                    </div>
                </form>
                <!-- /INPUT CONTAINER -->
                <div id="plans-section">
                    {{macro_dash_up.plans(dictionary)}}
                <div class="clearfix"></div>

                </div>
                
                <hr class="line-separator">
                <div class="input-container">
                    <h4>
                        Files
                    </h4>
                </div>

                {{macro_dash_up.upload_files(dictionary)}}

                <hr class="line-separator">
                <button class="button big dark" id="send-app">{{dictionary.word_submit_item}}
                    <span class="primary">.</span></button>
                <hr class="line-separator">
                <input type="hidden" name="aid" id="aid" value="">
            </div>
            <!-- /FORM BOX ITEM -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- DASHBOARD CONTENT -->
</div>
<!-- /DASHBOARD BODY -->

<div class="shadow-film closed"></div>
{{macro_dash_up.auth_scope(resources)}}
{% endblock %}