{% extends 'templates/layout-account.html' %}
{% block content %}
    {% import 'templates/macros.html' as macro_main %}
    {% import 'templates/macros-account.html' as macro_dashboad %}
    <!-- SIDE MENU -->
    {{macro_dashboad.all_menu(dictionary,user)}}
    <!-- /SIDE MENU -->

    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
        {{macro_dashboad.dashboard_header(dictionary)}}
        <!-- DASHBOARD HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            <!-- HEADLINE -->
            <div class="headline simple primary">
                <h4>Withdrawals</h4>
            </div>
            <!-- /HEADLINE -->

            <!-- FORM BOX ITEMS -->
            <div class="form-box-items">
                <!-- FORM BOX ITEM -->
                <div class="form-box-item">
                    <h4>Withdraw Earnings</h4>
                    <hr class="line-separator">
                    <form id="withdraw-form">
                        <!-- INPUT CONTAINER -->
                        <div class="input-container">
                            <label for="amount" class="rl-label required">Amount to Withdraw ({{dictionary.coin}}${{limit_withdrawl}}
                                Maximum)</label>
                            <input type="number" id="amount" name="amount" min="0" max="{{limit_withdrawl}}" step="any" placeholder="Enter the amount you want to withdraw...">
                        </div>
                        <!-- /INPUT CONTAINER -->
                        <hr class="line-separator">

                        <!-- INPUT CONTAINER -->
                        <div class="input-container">
                            <label class="rl-label required">Choose your Withdrawal Method
                            </label>
                            <!-- RADIO -->
                            <input type="radio" id="paypal" name="payment_method" value="pp" checked="checked">
                            <label for="paypal">
                                <span class="radio primary">
                                    <span></span></span>
                                Paypal
                            </label>
                            <!-- /RADIO -->
                            {# not  implemted
							<!-- RADIO -->
							<input type="radio" id="skrill" name="payment_method" value="sk">
							<label for="skrill">
								<span class="radio primary"><span></span></span>
								Skrill
							</label>
							<!-- /RADIO -->

							<!-- RADIO -->
							<input type="radio" id="int_transf" name="payment_method" value="it">
							<label for="int_transf">
								<span class="radio primary"><span></span></span>
								International Transfer ($200 Minimum)
							</label>
							<!-- /RADIO -->
              #}
                        </div>
                        <!-- /INPUT CONTAINER -->

                        <hr class="line-separator">

                        <!-- INPUT CONTAINER -->
                        <div class="input-container">
                            <label for="pp_ac" class="rl-label required">Your Paypal Account</label>
                            <input type="text" id="pp_ac" name="pp_ac" placeholder="Enter your paypal account here...">
                        </div>
                        <!-- /INPUT CONTAINER -->

                        <!-- INPUT CONTAINER -->
                        <div class="input-container">
                            <label for="pwd_ac" class="rl-label required">Confirm your Password</label>
                            <input type="password" id="pwd_ac" name="pwd_ac" placeholder="Confirm your password for security...">
                        </div>
                        <!-- /INPUT CONTAINER -->

                        <hr class="line-separator">

                        <button class="button big dark">Request
                            <span class="primary">Withdrawal</span></button>
                    </form>
                </div>
                <!-- /FORM BOX ITEM -->

                <!-- FORM BOX ITEM -->
                <div class="form-box-item withdraw-history">
                    <h4>Withdrawal History</h4>
                    <hr class="line-separator">
                    <!-- TRANSACTION HISTORY -->
                    <div class="transaction-history">
                        {% for i in item %}
                            <!-- TRANSACTION HISTORY ITEM -->
                            <div class="transaction-history-item">
                                <div class="transaction-history-item-date">
                                    <p>{{i.date}}</p>
                                </div>
                                <div class="transaction-history-item-mail">
                                    <p>{{i.id_partner}}</p>
                                </div>
                                <div class="transaction-history-item-amount">
                                    <p class="text-header">{{dictionary.coin}}${{i.value}}</p>
                                </div>
                                <div class="transaction-history-item-status">
                                    <p class="text-header">{{i.status}}</p>
                                </div>
                            </div>
                            <!-- /TRANSACTION HISTORY ITEM -->

                        {% endfor %}

                    </div>
                    <!-- /TRANSACTION HISTORY -->
                </div>
                <!-- /FORM BOX ITEM -->
            </div>
            <!-- /FORM BOX ITEMS -->
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

    <div class="shadow-film closed"></div>

{% endblock %}