{% extends 'templates/layout-account.html' %}
{% block content %}
{% import 'templates/macros.html' as macro_main %}
{% import 'templates/macros-account.html' as macro_dashboad %}
{% import 'templates/macros-upload.html' as macro_dash_up %}
<!-- SIDE MENU -->
{{macro_dashboad.all_menu(dictionary,user)}}
<!-- /SIDE MENU -->
<!-- DASHBOARD BODY -->
<div class="dashboard-body">
    <!-- DASHBOARD HEADER -->
    {{macro_dashboad.dashboard_header(dictionary)}}
    <!-- DASHBOARD HEADER -->

    <!-- DASHBOARD CONTENT -->
    <div class="dashboard-content">

        {{macro_dashboad.my_itens_apps(apps, dictionary)}}
        {{macro_dashboad.my_itens_themes(themes, dictionary)}}

    </div>
    <!-- DASHBOARD CONTENT -->
</div>
<!-- /DASHBOARD BODY -->

<div class="shadow-film closed"></div>
{{macro_dash_up.auth_scope(resources)}}
{% endblock %}