{% extends "layout/main.html" %}
{% import "macros/main.macros.html" as main %}
{% import "macros/apps.macros.html" as apps %}
{% block content %}
<main class="main-content">
  <div class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xl-4">
          {{apps.sidebarSearch(params)}}
        </div>
        <div class="col-md-8 col-xl-8">
          {{apps.resultSearch(params)}}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}