{% extends 'templates/layout.html' %}
{% import 'templates/macros.html' as macro_main %}
{% block content %}
    <!-- SECTION HEADLINE -->
    <div class="section-headline-wrap">
        <div class="section-headline">
            <h2>{{data.page.name}}</h2>
            <p>Home<span class="separator">/</span>{{data.page.name}}<span class="separator">/</span><span class="current-section">{{data.page.filter}}</span></p>
        </div>
    </div>
    <!-- /SECTION HEADLINE -->
    <!-- SECTION -->
    <div class="section-wrap">
        <div class="section">
            <div class="headline primary">
                <h4>{{dictionary.word_items_found}}
                    ({{data.page.total}})</h4>
                <form id="shop_filter_form" name="shop_filter_form">
                    <label for="price_filter" class="select-block">
                        <select name="category_filter" id="category_filter">>
                            {% for category in categories %}
                                {% set selected = '' %}
                                {% if
                                category.page == data.page.category %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                                <option value="{{category.page}}" {{ selected }}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- SVG ARROW -->
                        <svg class="svg-arrow">
                            <use xlink:href="#svg-arrow"></use>
                        </svg>
                        <!-- /SVG ARROW -->
                    </label>
                </form>
                <form id="shop_filter_form" name="shop_filter_form">
                    <label for="price_filter" class="select-block">
                        <select name="price_filter" id="price_filter">
                            {% if data.page.filter == 'all' %}
                                <option value="all" selected="selected">All</option>
                                <option value="free">Free</option>
                            {% elseif data.page.filter == 'free' %}
                                <option value="all">All</option>
                                <option value="free" selected="selected">Free</option>
                            {% endif %}

                        </select>
                        <!-- SVG ARROW -->
                        <svg class="svg-arrow">
                            <use xlink:href="#svg-arrow"></use>
                        </svg>
                        <!-- /SVG ARROW -->
                    </label>
                </form>

            </div>

            <!-- CONTENT -->
            <!--div class="content"-->
            <!-- HEADLINE -->
            {#not implemented in moment
		<div class="headline primary">
			<h4>{{ info_page.number_found }} {{ dictionary.word_items_found }}</h4>
			<!-- VIEW SELECTORS -->
			<div class="view-selectors">
				<!-- a href="shop-gridview-v1.html" class="view-selector grid active"></a>
						<a href="shop-listview-v1.html" class="view-selector list"></a-->
			</div>
			<!-- /VIEW SELECTORS -->
			<form id="shop_filter_form" name="shop_filter_form">
				<label for="price_filter" class="select-block">
					<select name="price_filter" id="price_filter">
						<option value="0">{{ dictionary.word_price_high_low }}</option>
						<option value="1">{{ dictionary.word_price_low_high }}</option>
					</select>
					<!-- SVG ARROW -->
					<svg class="svg-arrow">
						<use xlink:href="#svg-arrow"></use>
					</svg>
					<!-- /SVG ARROW -->
				</label>
				<label for="itemspp_filter" class="select-block">
					<select name="itemspp_filter" id="itemspp_filter">
						<option value="0">{{ dictionary.word_12_per_page }}</option>
						<option value="1">{{ dictionary.word_6_per_page }}</option>
					</select>
					<!-- SVG ARROW -->
					<svg class="svg-arrow">
						<use xlink:href="#svg-arrow"></use>
					</svg>
					<!-- /SVG ARROW -->
				</label>
			</form>
			<div class="clearfix"></div>
		</div>
		#}
            <!-- /HEADLINE -->

            <!-- PRODUCT SHOWCASE -->
            <div class="product-showcase">
                <!-- PRODUCT LIST -->
                <div class="product-list grid column4-wrap">
                    <!--div class="product-list grid column3-4-wrap"-->
                    <!-- PRODUCT ITEM -->
                    {{ macro_main.apps_card(apps,data.page,0,20,dictionary) }}
                    <!-- /PRODUCT ITEM -->

                </div>
                <!-- /PRODUCT LIST -->
            </div>
            <!-- /PRODUCT SHOWCASE -->

            <!-- PAGER -->
            {{macro_main.apps_pagination(data.page.pages, data.page.current,data.page.atual, data.page.lang)}}
            <!-- /PAGER -->
            <!--/div-->
            <!-- CONTENT -->

            <!-- SIDEBAR -->
            {#not implemented in moment
		<div class="sidebar">
			<!-- DROPDOWN -->
			{{macro_app_theme.filter_segment(dictionary,segment)}}
			<!-- /DROPDOWN -->

			<!-- SIDEBAR ITEM -->

			{{macro_app_theme.filter_item(dictionary)}}

			<!-- /SIDEBAR ITEM -->

			<!-- SIDEBAR ITEM -->
			{{macro_app_theme.filter_category(dictionary,all_category)}}
			<!-- /SIDEBAR ITEM -->

			<!-- SIDEBAR ITEM -->
			{{macro_app_theme.filter_price_range(dictionary)}}
			<!-- /SIDEBAR ITEM -->
		</div>
		#}
            <!-- /SIDEBAR -->
        </div>
    </div>
    <!-- /SECTION -->
{% endblock %}