{% extends "layout/main.html" %}
{% import "macros/main.macros.html" as main %}
{% import "parts/components.html" as component %}

{% block content %}
{{main.headerHero(params)}}
<main class="main-content">
  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Apps Escolhidos
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Overflow content
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section overflow-hidden">
    <div class="container">
      <div class="d-none d-lg-block">
        <div class="row flex-nowrap">
          <div class="col-4">
            <h5>Turbine seu e-commerce.</h5>
            <p>Meios de pagamento, soluções de envio, e-mails transacionais e muito mais.</p>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-4 apps-suggestion">
                <img class="rounded" src="../assets/img/app/wirecard.png" alt="...">
              </div>

              <div class="col-4 apps-suggestion">
                <img class="rounded" src="../assets/img/app/melhorenvio.png" alt="...">
              </div>

              <div class="col-4 apps-suggestion">
                <img class="rounded" src="../assets/img/app/mailjet.png" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block d-lg-none">
        <div class="row">
          <div class="col-12">
            <h5>Turbine seu e-commerce.</h5>
            <p>Meios de pagamento, soluções de envio, e-mails transacionais e muito mais.</p>
          </div>
          <div class="col-4 apps-suggestion">
            <img class="rounded" src="../assets/img/app/wirecard.jpg" alt="...">
          </div>

          <div class="col-4 apps-suggestion">
            <img class="rounded" src="../assets/img/app/melhorenvio.png" alt="...">
          </div>

          <div class="col-4 apps-suggestion">
            <img class="rounded" src="../assets/img/app/mailjet.png" alt="...">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Basic
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
  <section class="section">
    <div class="container">
      <header class="section-header">
        <h2>Possibilidades para todas as necessidades.</h2>
      </header>
      <div class="row">
        {% for application in params.data %}
        {{component.cards(params, application)}}
        {%endfor%}
      </div>
      <div class="section-actions">
        <a href="/{{params.dictionary.lang}}/apps" class="fs-12 fw-600">Ver todos os aplicativos</a>
      </div>
    </div>
  </section>

  <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Help cta
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

  <section class="section" style="background-image: linear-gradient(-31deg,  #fafafa 50%, #fafafa 100%);">
    <div class="container">
      <div class="row gap-y align-items-center">
        <div class="col-md-6 text-center">
          <img src="../assets/img/13.png" alt="...">
        </div>

        <div class="col-md-6 text-center text-md-left">
          <h2>Precisa de ajuda?</h2>
          <p class="lead mb-6">Visite nosso help center.</p>
          <p><a class="btn btn-sm btn-round btn-success" href="https://community.e-com.plus/" target="_blank">Ir para ajuda</a></p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}