{% extends 'templates/layout.html' %}
{% import 'templates/macros.html' as macro_main %}
{% block content %}

<!-- SECTION HEADLINE -->
<div class="section-headline-wrap">
    <div class="section-headline">
        <!--h2>Create Password</h2-->
        <h2>
            {{dictionary.welcome_only}}
            {{user.name}}
            <h2>
    </div>
    <div class="section-headline">
        <h4>{{dictionary.word_info_create_password}}</h4>
    </div>
</div>
<!-- /SECTION HEADLINE -->

<!-- SECTION -->
<div class="section-wrap">
    <div class="section">
        <!-- SIDEBAR -->

        <div class="sidebar" id="addons-form-pass">

            <div class="input-container"></div>

            <h3 class="post-title">{{dictionary.word_create_password}}</h3>
            <form id="addons-form-password">

                <div class="input-container"></div>
                <!-- INPUT CONTAINER -->
                <div class="input-container">
                    <label class="rl-label">
                        <span class="login-p">{{dictionary.word_login}}</span></label>
                    <input type="text" disabled="disabled" value="{{user.email}}">
                </div>
                <!-- /INPUT CONTAINER -->

                <!-- INPUT CONTAINER -->
                <div class="input-container half">
                    <label for="new_pwd" class="rl-label required">
                        <span class="pass-p">{{dictionary.word_new_password}}</span></label>
                    <input class="addons-pass" type="password" id="new_pwd" name="new_pwd" placeholder="{{dictionary.word_enter_pass}}">
                </div>
                <!-- /INPUT CONTAINER -->

                <!-- INPUT CONTAINER -->
                <div class="input-container half">
                    <label for="new_pwd2" class="rl-label required">
                        <span class="rp-pass-p">{{dictionary.word_repeat_password}}</span></label>
                    <input class="addons-rp-pass" type="password" id="new_pwd2" name="new_pwd2" placeholder="{{dictionary.word_enter_repeat_pss}}">
                </div>
                <!-- /INPUT CONTAINER -->
                <!-- INPUT CONTAINER -->
                <div class="input-container half" style="text-align: -webkit-center;">
                    <button class="button mid dark" id="bt-create-pass">
                        Create
                    </button>
                </div>
                <!-- /INPUT CONTAINER -->
                <div id="error"></div>
            </form>
            <form id="addons-register">
                <input type="hidden" id="addons-register-id" name="u" value="{{data.user_hash}}" />
            </form>

        </div>
    </div>
</div>
<!-- /SECTION -->
<style>
    .section {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    form#addons-form-password {
        padding: 1em;
    }

    .input-container {
        padding-bottom: 1em;
    }

    div#addons-form-pass {
        max-width: 370px;
        width: 100%;
    }

    .input-container:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock %}