{% extends 'templates/layout.html' %}
{% import 'templates/macros.html' as macro_main %}
{% block content %}
<div class="section-headline-wrap">
    <div class="section-headline">
        <h2>{{dictionary.word_register}}</h2>
        <!--p>Home<span class="separator">/</span>Shop V1<span class="separator">/</span><span class="current-section">Illustration</span></p-->
    </div>
</div>

<!-- SECTION -->
<div class="section-wrap">
    <div class="section">
        <!-- /SIDEBAR -->
        <div id="account-options" class="form-box-items">
            <div class="form-box-item spaced">
                <h4>{{dictionary.word_create_account}}
                </h4>
                <hr class="line-separator">
                <div class="sidebar-item">
                    <a href="" class="button mid dark spaced" id="button-create-account">
                        {{dictionary.word_account_partner}}</a>
                    <a class="button mid dark spaced" id="bt-create-pass">{{dictionary.word_create_password}}</a>
                </div>
            </div>
            <!-- /INPUT CONTAINER -->
        </div>
        <!-- -->
        <!-- FORM POPUP -->
        <div id="create-password" class="form-popup mfp-hide">
            <div class="form-popup-content">
                <!-- FORM POPUP HEADLINE -->
                <div class="form-popup-headline secondary">
                    <h2>{{dictionary.word_create_password}}</h2>
                </div>
                <!-- /FORM POPUP HEADLINE -->
                <!-- FORM POPUP CONTENT -->
                <div class="form-popup-content">
                    <form id="addons-login">
                        <input type="hidden" id="addons-partner-email" name="user" />
                    </form>
                    <form id="login-form" class="addons-partner-create-pass">
                        <label id="email-send" for="email_address2" class="rl-label required">Email</label>
                        <input type="email" id="email_register" name="email" placeholder="{{dictionary.word_enter_email}}">
                        <button class="button mid dark" id="btn-verify">
                            {{dictionary.word_verify}}
                            <span class="primary">{{dictionary.word_now}}!</span></button>
                        <!--a class="button mid dark" href="test-server"> ok </a-->
                    </form>
                    <div id="error"></div>
                </div>
                <!-- /FORM POPUP CONTENT -->
            </div>
            <form id="addons-create-pass">
                <input type="hidden" id="addons-email-user" name="email" />
            </form>
        </div>
    </div>

</div>
</div>
<!-- /SECTION -->
<style>
    .section {
        padding: 2em;
    }

    .form-box-item.spaced {
        margin: 0;
    }

    .sidebar-item {
        padding: 20px 13px 0;
    }

    .form-box-items .form-box-item {
        max-width: 570px;
        width: 100%;
    }

    .form-box-items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #create-password .form-popup-headline.secondary {
        height: 90px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step {
        visibility: hidden;
        transition: opacity 0.5s, visibility 1s;
        transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); // Sizes
    }

    .active {
        opacity: 1;
        visibility: visible;
    }

    #bt-create-pass {
        cursor: pointer;
    }
</style>
{% endblock %}