{% extends "layout/main.html" %}
{% import "macros/single.macros.html" as single %}
{% block content %}
<main class="main-content">
  <section id="resume-header" class="section-resume-app">
    {{single.singleHeader(params)}}
  </section>
  <section id="resume-content" class="section-resume-app">
    <div class="container">
      <div class="row">
        <div class="col-lg-8" id="item-content">
          {{single.tabsList(params)}}
          <div class="tab-content p-4">
            <div class="tab-pane fade show active" id="application-description">
            </div>
            <div class="tab-pane fade" id="application-plans">
            </div>
            <div class="tab-pane fade" id="application-comments">
            </div>
          </div>
        </div>
        <div class="col-lg-4" id="item-resume">
          {{single.itemResume(params)}}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}