.account-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  /* top: 60px; */
}

.account-content .account-sidebar {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  font-size: 14px;
  margin: 10px;
  border: none;
  -webkit-box-shadow: 0 2px 25px rgba(0,0,0,0.07);
  box-shadow: 0 2px 25px rgba(0,0,0,0.07);
  transition: .25s linear;
  position: fixed;
  top: 0;
  bottom: 0;
}

.account-content .section-wrapper {
  width: 100%;
}

.account-content .account-sidebar .account-sidebar__user {display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 1em;}

.account-content .account-sidebar .account-sidebar__user img {
  border-radius: 50%;
  box-shadow: 0 2px 25px rgba(0,0,0,0.07);
  max-width: 50%;
}

.account-content .account-sidebar .account-sidebar__user span {
  font-size: 18px;
  font-weight: 400;
  padding-top: .5em;
}

.account-content .account-sidebar .sidebar__links {
  padding: 0;
  transition: .2s linear;
}

.account-content .account-sidebar .sidebar__links li {
  list-style: none;
  padding: .5em 3em;
  cursor: pointer;
  font-weight: 400;
  border-radius: 3px;
}

.account-content .account-sidebar .sidebar__links .section-active {
  background-color:#f6f3ff;
  font-weight: 500;
  color: #fff;
  opacity: .9;
}

.account-content .account-sidebar .sidebar__links li:hover {background-color: #f6f3ff;}


.account-sections {
  box-shadow: 0 2px 25px rgba(0,0,0,0.07);
  padding: 0 15px;
  margin: 10px;
  visibility: hidden;
  position: absolute;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: calc(100vw - 330px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.current-section {
  visibility: visible;
}


/** My-items */
.card-item-account {
  padding: 1em;
  box-shadow: 0 2px 16px rgba(158, 158, 158, 0.56);
  margin: 37px;
  border: 1px solid #f1f2f3 !important;
  border-radius: 5px;
  cursor: pointer;
}

.card-item-account .item-content {
  display: flex;
}

.card-item-account .item-content .item-media {
  position: relative;
  margin-right: 30px;
}

.card-item-account .item-content .item-resume {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.card-item-account .item-content .item-media img {
  max-width: 60px;
  border-radius: 5px;
  position: absolute;
  right: -30px;
  box-shadow: 0 2px 16px rgba(158, 158, 158, 0.56);
  border: 1px solid #eee;
}

.card-item-account .item-content .item-resume span {
  font-size: 16px;
  font-weight: 500;
  opacity:0.7;
}

.card-item-account .item-content .item-resume span:first-child {
  font-size: 18px;
  opacity:1;
}

#my-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  height: 50px;
  margin: 15px;
}

.header-title {
  /* font-size: 18px; */
  font-weight: 500;
  color: #313944;
}

/** Modal add/edit item */

#my-item-form {
  box-shadow: 0 2px 25px rgba(0,0,0,0.07);
      padding: 0 15px;
      margin: 10px;
      position: absolute;
      -webkit-box-flex: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      flex-shrink: 0;
      width: calc(100vw - 330px);
      position: fixed;
      overflow-x: auto;
      top: 0;
      right: 0;
      bottom: 0;
  }

  /** scroll */
  #my-item-form::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#my-item-form::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#my-item-form::-webkit-scrollbar-thumb
{
	background-color: #37003c;
}

.item-manager {
  padding-top: 15px;
  padding-bottom: 15px;
}

#upload-queue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#upload-queue img {
  max-width: 190px;
  width: 100%;
  height: 100%;
  margin: 1em;
}