aside#admin-aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #1d0020;
  white-space: nowrap;
  box-shadow: 1px 10px 13px rgba(0, 0, 0, 0.17);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  z-index: 997;
  transform: translateZ(0);
  transition: .3s ease;
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
}

aside#admin-aside ~ main {
  margin-left: 200px;
}

#admin-body > main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left .3s ease-out;
}

.sidebar-admin {
  padding: 0;
  margin: 0;
}

.sidebar-admin ul {
  list-style: none;
  padding: 0;
}
.sidebar-admin ul li {padding: .5em 1em;}

.sidebar-admin ul li a {
  color: #fff;
  height: 56px;
  padding: 0 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: .2s linear;
}

ul.settings-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.settings-list {
  display: flex;
  justify-content: space-between;
  height: 46px;
  align-items: center;
  border-bottom: 1px solid #F1F2F2;
  font-size: 14px;
  font-weight: 400;
}

/** brutusin fix */
form.brutusin-form td.prop-value {
  width: 80% !important;
}

form.brutusin-form td {
  white-space: pre-wrap !important;
}

.glyphicon {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-remove::before {
  content: "\e605";
}
.glyphicon-info-sign::before {
  content: "\e717";
}
.glyphicon-refresh::before {
  content: "\e619";
}

/** content */
#applications-content {
  padding: 2em 0;
}