.header {
  height: 220px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  #hero-home {
    position: absolute;
    width: 60%;
  }
}

.nav-navbar .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}