/** Application resume */
.application__resume {
  display: flex;
  align-content: center;
  align-items: center;
  &--icon {
    display: flex;
    flex-direction: column;
    img {
      max-width: 170px;
      width: 100%;
    }
  }
  &--infor {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
  }
}
/** aplication description section */
#application-description {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 25s ease;
}

/** galery/lists */
.application-details-list {
  list-style: none;
  padding: 0;
  li{
    display: flex;
    justify-content: space-between;
  }
}

.scope-ul {
  list-style: none;
  padding: 0;
}
.scope-ul .scope-li {
  display: flex;
  justify-content: space-between;
  padding: 0.75em 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
}

.scope-ul .scope-li:not(:last-of-type) {
  border-bottom: 1px solid #eff8ff;
}

#scope-list {
  padding: 0.5rem 1.75rem;
}

#scope-list .modal-title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}