<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- favicon -->
    <link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
    <title>{{dictionary.title}}
        |
        {{dictionary.word_dashboard}}</title>
</head>

<body>
    {% import 'templates/macros.html' as macro_main %}
    {% import 'templates/macros-account.html' as macro_dashboad %}
    <!-- SIDE MENU -->
    {{macro_dashboad.all_menu(dictionary,user)}}
    <!-- /SIDE MENU -->
    {% block content %}{% endblock %}
    <!-- SVG ARROW -->
    <svg style="display: none;">
        <symbol id="svg-arrow" viewbox="0 0 3.923 6.64014" preserveaspectratio="xMinYMin meet">
            <path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z" />
        </symbol>
    </svg>
    <!-- /SVG ARROW -->

    <!-- SVG PLUS -->
    <svg style="display: none;">
        <symbol id="svg-plus" viewbox="0 0 13 13" preserveaspectratio="xMinYMin meet">
            <rect x="5" width="3" height="13" />
            <rect y="5" width="13" height="3" />
        </symbol>
    </svg>
    <!-- /SVG PLUS -->

    <!-- SVG MINUS -->
    <svg style="display: none;">
        <symbol id="svg-minus" viewbox="0 0 13 13" preserveaspectratio="xMinYMin meet">
            <rect y="5" width="13" height="3" />
        </symbol>
    </svg>
    <!-- /SVG MINUS -->

    <!-- jQuery -->
    <script src="/assets/js/vendor/jquery-3.1.0.min.js"></script>
    <!-- XM Pie Chart -->
    <script src="/assets/js/vendor/jquery.xmpiechart.min.js"></script>
    <script src="/assets/js/vendor/jquery.xmlinefill.min.js"></script>

    <!-- Side Menu -->
    <script src="/assets/js/side-menu.js"></script>
    <!-- Dashboard Header -->
    <script src="/assets/js/dashboard-header.js"></script>
    <script src="/assets/custom/js/dashboard.js"></script>
    <script src="/assets/js/dashboard-uploaditem.js"></script>
    <script src="/assets/custom/js/uploaditem.js"></script>
    <script src="/assets/custom/js/edit-item.js"></script>
    {{macro_main.scripts()}}
</body>
</html>