<!DOCTYPE html>
<html lang="{{dictionary.lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/css/vendor/tooltipster.css">
    <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <!-- favicon -->
    <link rel="icon" href="https://e-com.club/mass/ftp/tutoriais/favicon.png">
    <title>{{ dictionary.title }} | {{page_name}}</title>
    {% import 'templates/macros.html' as macro_main %}
</head>

<body>
    {{macro_main.all_header(login,dictionary,user,app_category,theme_category)}} {% block content %} {% endblock %}
    <!-- FOOTER -->
    <footer>
        <!-- FOOTER TOP -->
        <div id="footer-top-wrap">
            <div id="footer-top">
                <!-- COMPANY INFO -->
                <div class="company-info">
                    <figure class="logo small">
                        <img src="/assets/images/logo_small.png" alt="logo-small">
                    </figure>
                    <p> {{ dictionary.e_com }} {{ dictionary.addons }} {{ dictionary.description_mkp }}</p>
                    {#comments
                    <ul class="company-info-list">
                        <li class="company-info-item">
                            <span class="icon-present"></span>
                            <p><span>{{ info_footer.total_apps_and_themes }} &nbsp; </span> {{ dictionary.word_app }} {{
                                dictionary.word_and }} {{dictionary.word_theme}}</p>
                        </li>
                        <li class="company-info-item">
                            <span class="icon-energy"></span>
                        </li>
                        <li class="company-info-item">
                            <span class="icon-user"></span>
                            <p><span>{{ info_footer.count_partners }} &nbsp; </span> {{ dictionary.word_partner }}</p>
                        </li>
                    </ul>
                    #}
                    <!-- SOCIAL LINKS -->
                    <ul class="social-links">
                        <li class="social-link fb">
                            <a href="https://www.facebook.com/ecom.clubpage/"></a>
                        </li>
                        <!-- (not implemented )li class="social-link twt">
              <a href="#"></a>
            </li>
            <li class="social-link db">
              <a href="#"></a>
            </li>
            <li class="social-link rss">
              <a href="#"></a>
            </li-->
                    </ul>
                    <!-- /SOCIAL LINKS -->
                </div>
                <!-- /COMPANY INFO -->

                <!-- LINK INFO -->
                {#comments
                <div class="link-info">
                    <p class="footer-title">Our Community</p>
                    <!-- LINK LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">How to Join us</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Buying and Selling</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="forum.html">Emerald Forum</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="blog-v1.html">Emerald Blog</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Free Goods</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Job Oportunities</a>
                        </li>
                    </ul>
                    <!-- /LINK LIST -->
                </div>
                #}
                <!-- /LINK INFO -->

                <!-- LINK INFO -->
                {#commnets
                <div class="link-info">
                    <p class="footer-title">Member Links</p>
                    <!-- LINK LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Partner Program</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Starting a Shop</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Purchase Credits</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Withdrawals</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">World Meetings</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">How to Auction</a>
                        </li>
                    </ul>
                    <!-- /LINK LIST -->
                </div>
                #}
                <!-- /LINK INFO -->

                <!-- LINK INFO -->
                {#commnets
                <div class="link-info">
                    <p class="footer-title">Help and FAQs</p>
                    <!-- LINK LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Help Center</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">FAQs</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Terms and Conditions</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Products Licenses</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">Security Information</a>
                        </li>
                    </ul>
                    <!-- /LINK LIST -->
                </div>
                #}
                <!-- /LINK INFO -->

                <!-- language -->
                <div class="link-info">
                    <p class="footer-title">{{ dictionary.word_language }}</p>
                    <!-- language LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="/en_us/{{info_footer.path_file}}">English (USA)</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="/{{info_footer.path_file}}">Português (Brasil)</a>
                        </li>
                    </ul>
                    <!-- /language LIST -->
                </div>
                <!-- /language INFO -->

                <!-- TWITTER FEED -->
                {#commnets
                <div class="twitter-feed">
                    <p class="footer-title">Twitter Feed</p>
                    <!-- TWEETS -->
                    <ul class="tweets"></ul>
                    <!-- /TWEETS -->
                </div>
                #}
                <!-- /TWITTER FEED -->
            </div>

        </div>
        </div>
        <!-- /FOOTER TOP -->

        <!-- FOOTER BOTTOM -->
        <div id="footer-bottom-wrap">
            <div id="footer-bottom">
                <p>2018 <span>&copy;</span><a href="index">{{ dictionary.e_com }}</a> </p>
            </div>
        </div>
        <!-- /FOOTER BOTTOM -->
    </footer>
    <!-- /FOOTER -->

    <!-- SVG ARROW -->
    <svg style="display: none;">
        <symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
            <path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z"
            />
        </symbol>
    </svg>
    <!-- /SVG ARROW -->

    <!-- SVG STAR -->
    <svg style="display: none;">
        <symbol id="svg-star" viewBox="0 0 10 10" preserveAspectRatio="xMinYMin meet">
            <polygon points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 
	2.495,6.313 -0.002,3.878 3.45,3.376 " />
        </symbol>
    </svg>
    <!-- /SVG STAR -->

    <!-- SVG PLUS -->
    <svg style="display: none;">
        <symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
            <rect x="5" width="3" height="13" />
            <rect y="5" width="13" height="3" />
        </symbol>
    </svg>
    <!-- /SVG PLUS -->
</body>
<!-- jQuery -->
<script src="/assets/js/vendor/jquery-3.1.0.min.js"></script>
<!-- Tooltipster -->
<script src="/assets/js/vendor/jquery.tooltipster.min.js"></script>
<!-- Owl Carousel -->
<script src="/assets/js/vendor/owl.carousel.min.js"></script>
<!-- Tweet -->
<script src="/assets/js/vendor/twitter/jquery.tweet.min.js"></script>
<!-- xmAlerts -->
<script src="/assets/js/vendor/jquery.xmalert.min.js"></script>
<!-- Side Menu -->
<script src="/assets/js/side-menu.js"></script>
<!-- Home -->
<script src="/assets/js/home.js"></script>
<!-- Tooltip -->
<script src="/assets/js/tooltip.js"></script>
<!-- User Quickview Dropdown -->
<script src="/assets/js/user-board.js"></script>
<!-- Home Alerts -->
<!-- <script src="/assets/js/home-alerts.js"></script> -->
<!-- Footer -->
<script src="/assets/js/footer.js"></script>

<!-- xmAlert -->
<script src="/assets/js/vendor/jquery.xmalert.min.js"></script>
<!-- Magnific Popup -->
<script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<!-- Alerts Demo -->
<script src="/assets/js/alerts-demo.js"></script>
<!-- -->
<!-- -->
<script type="text/javascript" src="/assets/custom/js/main.js"></script>
<!-- script convert to md5 -->
<script type="text/javascript" src="/assets/custom/js/md5.min.js"></script>
<!-- script for checkbox -->
<script type="text/javascript" src="/assets/custom/js/checkbox-item.js"></script>
<!-- script in itempage -->
<script type="text/javascript" src="/assets/custom/js/item-page.js"></script>
<!-- script uploaditem -->
<script type="text/javascript" src="/assets/custom/js/uploaditem.js"></script>
<!-- script upload partner -->
<script type="text/javascript" src="/assets/custom/js/up-partner.js"></script>
<!-- script register -->
<script type="text/javascript" src="/assets/custom/js/register.js"></script>