<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>E-com Plus Market | Account</title>
  <!-- Styles -->
  <link href="/assets/css/page.min.css" rel="stylesheet">
</head>

<body>
  <!--
  
  CONTENT
  
  
  -->
  <main>
    <div class="account-content">
      <div class="account-sidebar">
        <div class="account-sidebar__user">
          <img src="https://avatars2.githubusercontent.com/u/14341511?s=460&v=4">
          <span>Talisson Ferreira</span>
        </div>
        <ul class="sidebar__links">
          <li class="section-active"><a href="#my-items">Meus Items</a></li>
          <li><a href="#my-hits">Estatísticas</a></li>
          <li><a href="#my-account">Conta</a></li>
          <li><a href="#my-wallet">Saldo</a></li>
        </ul>
      </div>
      <div class="section-wrapper">
        <section class="account-sections current-section" id="my-items">

        </section>
        <section class="account-sections" id="my-hits">

        </section>
        <section class="account-sections" id="my-account">

        </section>
        <section class="account-sections" id="my-wallet">

        </section>
      </div>
    </div>
  </main>


  <script src="/assets/js/page.min.js"></script>
</body>

</html>