<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>E-com Plus Market | Admin</title>
  <!-- Styles -->
  <link href="/assets/css/page.min.css?v=1.2" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/brutusin/json-forms@1.6.3/dist/css/brutusin-json-forms.min.css">
</head>

<body id="admin-body">
  <header id="admin-header">

  </header>
  <aside id="admin-aside">
    <div class="sidebar-admin">
      <ul>
        <li>
          <a href="#">Aplicativos</a>
        </li>
<!--         <li>
          <a href="#">Avaliações</a>
        </li>
        <li>
          <a href="#">Configurações</a>
        </li> -->
      </ul>
    </div>
  </aside>
  <main id="admin-main">
    <section id="admin-applications">
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="applications-content">
              <div class="content-header">
                <h4>Aplicativos Instalados</h4>
              </div>
              <!--
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              | Light accordion
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              !-->
              <div class="accordion accordion-connected shadow-5" id="accordion-apps">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="admin-evaluations"></section>
    <section id="admin-settings"></section>
  </main>

  <script src="https://cdn.jsdelivr.net/gh/brutusin/json-forms@1.6.3/src/js/brutusin-json-forms.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/brutusin/json-forms@1.6.3/src/js/brutusin-json-forms-bootstrap.js"></script>
  <script src="/assets/js/page.min.js?v=1.2"></script>
</body>

</html>