<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>E-com Plus Market | Admin</title>
  <!-- Styles -->
  <link href="/assets/css/page.min.css?v=1.2" rel="stylesheet">
</head>

<body>
  <header id="admin-header">

  </header>
  <aside id="admin-aside">
    <div class="sidebar-admin">
      <ul>
        <li>
          <a href="#">Aplicativos</a>
        </li>
        <li>
          <a href="#">Avaliações</a>
        </li>
        <li>
          <a href="#">Configurações</a>
        </li>
      </ul>
    </div>
  </aside>
  <main id="admin-main">
    <section id="admin-applications">
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="applications-content">
                          <!--
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              | Light accordion
              |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
              !-->
              <div class="accordion accordion-light" id="accordion-3">
                <div class="card">
                  <h5 class="card-title">
                    <a data-toggle="collapse" href="#collapse-3-1">Melhor Envio</a>
                  </h5>

                  <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                    <div class="card-body">
                      Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="admin-evaluations"></section>
    <section id="admin-settings"></section>
  </main>
  <script src="/assets/js/page.min.js?v=1.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsonform@2.1.3/lib/jsonform.min.js"></script>
</body>

</html>