<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>E-com Plus Market | {{params.page.name}}</title>
  <!-- Styles -->
  <link href="/assets/css/page.min.css?v=1.3" rel="stylesheet">
</head>
{% import "macros/main.macros.html" as main %}
{% import "macros/scripts.macros.html" as scripts %}
{% import "parts/components.html" as components %}
<body data-store="{{params.login.store_id}}" data-user="{{params.login.username}}" data-sso="{{params.login.sso}}">
  <!--
    HEADER
  -->
{{main.header(params)}}
    <!--
    MAIN-CONTENT
    -->
    {% block content %} {% endblock %}
    <!--
    FOOTER
  -->
  {{main.footer(params)}}
  <!-- 
    modal
  -->
  {{components.modals(params)}}
  <!-- 
    Scripts 
  -->
  {{scripts.loadScripts(params)}}
  <script src="/assets/js/page.min.js?v=1.3"></script>
</body>

</html>