<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>{{resource.title}}</title>
  <link href="/assets/css/page.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.32.5/jsoneditor.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
</head>
<!-- Parter Macros -->
{% import "macros/partner.macros.html" as macros %}
<!-- /Parter Macros -->

<body id="account-body">
  <!-- Partner Header/Aside -->
  {{macros.partnerHeader(params.user)}}
  <!-- /Partner Header/Aside -->
  <!-- Partner Content -->
  {% block content %} {% endblock %}
  <!-- /Partner Content -->
  <!-- toast -->
  <div id="admin-toast"></div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.32.5/jsoneditor-minimalist.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="/assets/js/dropzone.js"></script>
  <script src="/assets/js/src/pages/upload-screenshorts.js"></script>
  <script src="/assets/js/page.min.js"></script>
</body>

</html>